{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">
  
  <h2>Playlist App Dashboard</h2>
  
  {{#unless playlists}}
    <h3 class="ui message">
      Start adding your playlists!
    </h3>
  {{/unless}}

  {{#each playlists}}
    <section class="ui left aligned middle aligned segment">

      <h3 class="ui header">
        {{title}}
      </h3>
      {{#unless songs}}<p>Empty playlist!</p>{{/unless}}
      {{#if songs}}<p>Total songs: {{songs.length}}</p>{{/if}}
      
      <a href="/playlist/{{id}}"> <i class = "open folder outline icon"></i></a> </a>

    </section>
  {{/each}}

</section>
